*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right,#e6b4d5,#eaf3f3)

}
.calculator-grid{
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:minmax(120px,auto) repeat(5,100px);
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(236, 230, 230);
    outline: none;
    background-color: rgba(88, 173, 223, .75);
}
.calculator-grid > button:hover{
    background-color: rgba(151, 221, 205, 0.9);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1/ -1;
    background-color: rgba(133, 172, 163, 0.9);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(214, 216, 230, 0.9);
}
.output .current-operand{
    color: rgb(237, 230, 245);
    font-size: 2.5rem;
}